.p-tasks-page{
    height: 100vh;
}

.p-tasks-page > .h2 {
    background-image: linear-gradient(to right, rgb(47, 240, 253) , rgb(82, 190, 252));
    color: honeydew;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 1.5rem 1.5rem 0 0;
}

.p-tasks-page > .add-task-container> form > .form-group > .form-control{
    padding: 0.5em 0.75em;
    height: 100%;
    font-size: 1.2rem;
    border-radius: 1.5rem;
}

.p-tasks-page > .add-task-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.p-tasks-page > .add-task-container > form{ 
    width:50%;
}

.p-tasks-page > .add-task-container > form > .form-group > .form-control{ 
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tasks-container {
    background-color: white;
    padding: 0 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 0 4px 8px 0 rgba(82, 190, 252, 0.4), 0 6px 20px 0 rgba(82, 190, 252, 0.4); */
    margin-bottom: 30px;
    margin-top: 10px;
}

.tasks-container .c-task:hover{
    position: relative;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.task-footer {
    background-image: linear-gradient(to right, rgb(47, 240, 253) , rgb(82, 190, 252));
    width: 100%;
    display: flex;
    padding: 10px;
    color: lightcyan;
    /* font-family: Arial; */
}

.task-footer > .btn-outline-primary{
    padding: 0 10px;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: none;
    border: none;
    color: lightcyan;
}

.task-footer > .h4:not(.h4:first-child):hover {
    color: rgb(82, 190, 252);
    background-color: lightcyan;
    border-radius: 10%;
}

.task-footer > .to-the-right{
    margin-left: auto;
    margin-right: 0;
}



